.comments-section,
.comment {
    border: 1px solid #222;
}

.comments-section h5 {
   background-color: rgb(47, 255, 137);
   padding: 0.5em 0;
   border-radius: 8px;
   text-align: center;
}

.add-comment {
    display: flex;
    flex-direction: column; 
    width: 100%;
    max-width: 600px; 
}

.add-comment textarea,
.comments-section,
.single-comment,
.edit-comment textarea{
    width: 100%;
    padding: 0.5em;
    margin-bottom: 0.8em; 
    font-size: 1em;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.comment-container {
    margin-bottom: 10px;
}

.single-comment {
    display: flex;
    flex-direction: column;
}

.single-comment p {
    margin: 0;
}

.author-name {
    font-weight: bold; 
    font-size: 0.9em;
    margin-bottom: 5px;
}

.comment-content {
    border-radius: 8px;
    margin-bottom: 5px;
    max-width: 600px; 
}

.comment-actions .btn,
.edit-comment .btn {
    font-size: 0.7em;
    padding: 0.5em;
    float: right;
    margin: 0 0.3em;
}

